body {
    text-align: center;
    background-image: url(https://image.ibb.co/gAP24f/background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    color: white;
}

#container1 {
    height: 700px;
    margin: 20px;
    display: block;
    background-color: rgba(129, 129, 129, 0.658);
}

#player1-form {
    display: none;
}

#player2-form {
    display: none;
}

#container2 {
    height: 700px;
    margin: 20px;
    display: none;
    background-color: rgba(129, 129, 129, 0.658);
}

.imgs {
    height:100px;
    width: 100px;
}

#rps1 {
    display: none;
}

#waiting1 {
    display: none;
}

#rps2 {
    display: none;
}

#waiting2 {
    display: none;
}

#container3 {
    display: none;
}

#inSession {
    display: none;
}


#chatBox
{
    height:150px;
    overflow:auto;
    border: 1px #7777773f solid;
    text-align: left;
}

#countdown {
    height: 100px;
}

#chatInput {
    width: 270px;
}

#chatSubmit1 {
    display: none;
}

#chatSubmit2 {
    display: none;
}

#player1-card {
    background-color: rgba(199, 0, 56, 0.534)
}

#player2-card {
    background-color: rgba(199, 0, 56, 0.534)
}

#rps1 {
    background-color: rgba(199, 0, 56, 0.534)
}

#rps2 {
    background-color: rgba(199, 0, 56, 0.534)
}

#countdown {
    background-color: rgba(199, 0, 56, 0.534)
}

#messenger {
    background-color: rgba(199, 0, 56, 0.534)
}

#paper1 {
    width: 135px;
    float: left;
}

#scissors1 {
    width: 135px;
    float: left;
}

#paper2 {
    width: 135px;
    float: left;
}

#scissors2 {
    width: 135px;
    float: left;
}
